body {
  background-color: whitesmoke;
  text-align: left;
  min-width: 320px;
  max-width: 500px;
  margin: auto;
  font-family: 'Oswald', sans-serif;
  box-sizing: border-box;
  position: relative;
}

.hidden {
  visibility: hidden;
}

.removed {
  display: none;
}
